<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %> <!-- by default, this uses the default settings that call humanize() makes first letter capitals and the rest downcase -->
    <%= form.text_field :email, type: 'email', placeholder: "email@gmail.com" %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
